$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;

$color-accent: #f0145a;
$color-active: #24a3ff;
$color-active-alt: #0085ff;
$color-active-soft: #006ccf;

$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-text: #b3b3ba;
$color-gray-separator: #e6e6f0;

$color-white: #ffffff;

$bg-gradient: 42.01deg, $color-primary 14.33%, $color-primary 51.39%, #7a425e 87.53%;
