$color-primary: #323264;
$color-primary-alt: #46466e;
$color-primary-soft: #686887;

$color-accent: #f0145a;

$color-active: #24A3FF;
$color-active-alt: #0085FF;
$color-active-soft: #006CCF;

$color-gray-bg: #f5f5fa;
$color-gray-bg-alt: #ededf7;
$color-gray-text: #b3b3ba;
$color-gray-separator: #e6e6f0;
